-@col1 = @hide_ad_before = true
=paginate @drugs
#desc
  -patt = Regexp.new(Jibing.pluck(:name).sort{|a,b| b.length <=> a.length}.join("|"))
  =@drugs.collect{|d| d.description}.join('<hr />').gsub(patt,'<b>\0</b>').html_safe
<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>
  
-content_for :footer do  
  =javascript_include_tag "desc"
