-title @title || "è¯å“"

-@col1= true
-if @categories
  %p.cats
    -@categories.each do |c|
      -if @category.present? and c.id == @category.id
        = c.name
      -else
        =link_to c.name,c,:title=>c.name
=paginate @drugs,:window=>10
.drugs
  - @drugs.each do |drug|
    .drug
      <a href="/yaopin/#{CGI.escape(drug.name)}/pihao">#{drug.name}</a>


