-#-@col1 = true
-title @q,nil,false
-@title_suffix = ''
-@hide_ad_before = true
-content_for :banner do
  =ubaidu 1507381,"药品首960*90，创建于2014-3-31" 
%section
  -#.box
    -#.box-header 
      -#药品查询: 
      -#%h1.sitename=@q
    -#%form.welcome{:action=>url_for(action: "search"),:method=>'get',onsubmit: "return chaxun()"}
      -#=select_tag :qby,options_for_select(search_options,@qby),class: "input-small"
      -#-a={:id=>'q',:type=>"text",:name=>"q",value: @q}
      -#%input{a}
      -#%button.btn 查询
  .slotb.before_links
    =ubaidu 1470899,"首页左上链接610*140，创建于2014-2-17"
  .results
    -if @qby == 'yaopin'
      .drugs
        - @results.each do |drug|
          .drug
            <a href="/yaopin/#{CGI.escape(drug.name)}/pihao" title="#{drug.name}" target='_blank'>#{drug.name.truncate(9,:omission=>'..')}</a>
      .clearfix
      =nofollow_sub(paginate @results)
