-title "评论"
.comments
  -if @comments.empty?
    .alert
      暂无跟贴.
  -else
    %ul.comments
      -@comments.each do |c|
        %li
          %cite #{c.author_name}
          %date.muted=link_to c.created_at.to_formatted_s(:db),"/goto/#{c.commentable_type}/#{c.commentable_id}",:rel=>'nofollow',:target=>'_blank'
          %p #{c.body}
=paginate @comments          

