#comments
  -comments = obj.comment_threads.includes([:commentable,:user])
  -if comments.empty?
  -else
    %strong 网友跟贴
    %ul.comments
      -comments.each do |c|
        %li
          %cite #{c.author_name}
          %date.muted #{c.created_at.to_formatted_s(:db)}
          %p #{c.body}
