%ul.pihao-list
  - results.each do |yaopin|
    %li.pihao{:class=>cycle('odd','even')}
      .fn
        =link_to yaopin.wenhao,yaopin
        -unless yaopin.name.nil?
          \-
          =link_to yaopin.name,"/yaopin/#{CGI.escape yaopin.name}/pihao"

      %small
        =[yaopin.changjia_name,yaopin.jixing,yaopin.guige].compact.join(' / ')
