
%ul.pihao-list
  - results.each do |yaopin|
    %li.pihao{:class=>cycle('odd','even')}
      =link_to yaopin.wenhao,yaopin
      -
      =yaopin.changjia_name
      -#%small
        -#=[yaopin.changjia_name,yaopin.jixing,yaopin.leibie,yaopin.guige].compact.join(' / ')
