%ul.pihao-list
  - results.each do |yaopin|
    %li.pihao{:class=>cycle('odd','even')}
      .fn
        =link_to yaopin.wenhao,yaopin,:target=>'_blank'
        -unless yaopin.name.nil?
          \-
          =link_to yaopin.name,"/yaopin/#{CGI.escape yaopin.name}/pihao",:target=>'_blank'
          .pull-right
            <a href="/yaopin/#{CGI.escape yaopin.name}/pihao#buylink" rel="nofollow" target="_blank" class="buylink btn btn-mini">购买</a>
      %small
        =[yaopin.changjia_name,yaopin.jixing,yaopin.leibie,yaopin.guige].compact.join(' / ')
