-@title_suffix = @title ? "_药品批号查询" : ""
-title (@title || "药品批号查询"),nil,false

-@hide_ad_before = true
-content_for :banner do
  =ubaidu 1507381,"药品首960*90，创建于2014-3-31" 
%section
  .box
    .box-header 
      %h1.sitename 药品批号查询
    %form.welcome{:action=>url_for(subdomain: 'www',action: "search"),:method=>'get',onsubmit: "return chaxun()"}
      =select_tag :qby,options_for_select(search_options,@qby),class: "input-small"
      -a={:id=>'q',:type=>"text",:name=>"q",value: @q}
      %input{a}
      %button.btn 查询
.row-fluid
  .span3.sidebar
    .sidelink=ubaidu 1420736,'jx-yaopins-sidelink'
    %ul.nav.nav-tabs.nav-stacked
      %li=link_to "国药准字B",search_yaopins_url(:q=>"国药准字B")
      %li=link_to "国药准字H",search_yaopins_url(:q=>"国药准字H")
      %li=link_to "国药准字Z",search_yaopins_url(:q=>"国药准字Z")
      %li=link_to "国药试字",search_yaopins_url(:q=>"国药试字")
      -unless @hide_leibie
        -Yaopin.all_leibie.each do |str|
          %li=link_to str,leibie_url(str) unless str.nil?
  .span9
    .slotb=ubaidu 1420733,'jx-pihaos-before'
    %ul.pihao-list
      - @yaopins.each do |yaopin|
        %li.pihao{:class=>cycle('odd','even')}
          .fn
            =link_to yaopin.wenhao,yaopin,:target=>'_blank'
            -unless yaopin.name.nil?
              \-
              =link_to yaopin.name,"/yaopin/#{CGI.escape yaopin.name}/pihao",:target=>'_blank'
              .pull-right
                -#<a href="/yaopin/#{CGI.escape yaopin.name}/pihao#buylink" rel="nofollow" target="_blank" class="buylink btn btn-mini">购买</a>
                =link_to_360kad yaopin.name,"购买"
    =xpaginate @yaopins,:window=>100
    .slotb=ubaidu 1420735,'jx-pihaos-bottom'
