-title [@q,"搜索"].join("_"),@q,false
-@title_suffix = "_国药准字查询"

-@hide_ad_before = true
-content_for :banner do
  =ubaidu 1507381,"药品首960*90，创建于2014-3-31" 
%section
  .box
    .box-header 
      药品批号查询:
      %h1.sitename=@q
    %form.welcome{:action=>url_for(subdomain: 'www',action: "search"),:method=>'get',onsubmit: "return chaxun()"}
      =select_tag :qby,options_for_select(search_options,@qby),class: "input-small"
      -a={:id=>'q',:type=>"text",:name=>"q",value: @q}
      %input{a}
      %button.btn 查询
.row-fluid
  .span9
    -unless @yaopins.present?
      -@hide_ad_before = true
      -@hide_adside = true
      .alert
        没找到相关结果，请尝试搜索其它关键词。
    -else 
      .slotb=ubaidu 1420744,'jx-search-before'
      -if @yaopins.respond_to? :total_entries
        %p.stats
          ="找到#{@yaopins.total_entries}项结果,耗时(#{@yaopins.query_time * 1000}毫秒)"
      -if @yaopins.present?
        = render :partial => 'yaopins/list',:locals=>{:results=>@yaopins}
        =nofollow_sub(paginate @yaopins)
        .clearfix
      -if @yaopins.size > 5
        .slotb=ubaidu 1420745,'jx-search-bottom'
  .span3.sidebar
    .sidelink=ubaidu 1420747,'jx-search-sidelink'
    %ul.nav.nav-tabs.nav-stacked
      %li=link_to "国药准字B",search_yaopins_url(:q=>"国药准字B")
      %li=link_to "国药准字H",search_yaopins_url(:q=>"国药准字H")
      %li=link_to "国药准字Z",search_yaopins_url(:q=>"国药准字Z")
      %li=link_to "国药试字",search_yaopins_url(:q=>"国药试字")
      -unless @hide_leibie
        -Yaopin.all_leibie.each do |str|
          %li=link_to str,leibie_url(str) unless str.nil?
