-title [@q,"搜索"].join("_"),@q
-@title_suffix = "_国药准字查询"
-#=ubaidu 1402997,'mobile','m'
-#.alert.alert-info
  -#=link_to "国药准字B",search_yaopins_url(:q=>"国药准字B")
  -#=link_to "国药准字H",search_yaopins_url(:q=>"国药准字H")
  -#=link_to "国药准字Z",search_yaopins_url(:q=>"国药准字Z")
  -#=link_to "国药试字",search_yaopins_url(:q=>"国药试字")
  -#-Yaopin.all_leibie.each do |str|
    -#=link_to str,leibie_url(str) unless str.nil?
-unless @yaopins.present?
  -@hide_ad_before = true
  -@hide_adside = true
  .alert
    没找到相关结果，请尝试搜索其它关键词。
-else 
  -if @yaopins.respond_to? :total_entries
    %p.stats
      ="找到#{@yaopins.total_entries}项结果,耗时(#{@yaopins.query_time * 1000}毫秒)"

  -if @yaopins.present?
    =paginate @yaopins,:params=>{:format=>nil},:window=>4
    = render :partial => 'yaopins/list',:locals=>{:results=>@yaopins}

-#=ubaidu 1402999,'mobile-bottom','m'
