-title "友情链接" 
-@hide_ad_before = true
-@col1 = true
-@hide_xuanfu = true
%p
  交换链接请联系QQ 5826-5826
-manage = can? :manage,Link
-@links.each do |context,rs|
  .box
    %h3= context.present? ? context.sub(/\d+\./,'') : "未分类"
    .sites
      -rs.each do |l|
        .site
          %img{:src=>l.favicon_url,width: 16,height: 16}
          = link_to l.name,l.url,:target=>'_blank',:rel=>l.nofollow? ? "nofollow" : nil
          -if manage
            %small
              =link_to "e",edit_link_url(l)
      .clearfix
