-title "制药企业名录"

%table.table
  %tr
    %th 名称
    %th 所在
    %th 注册药品数量

  - @companies.each do |company|
    %tr
      %td= link_to company.short,company
      %td
        = company.province.short_name if company.province.present?
        = company.city.name if company.city.present?
      %td= company.yaopins_count
%br

=paginate @companies
