-title "制药企业大全"
-provs = Province.all_in_neidi
-if provs.present?
  .well
    -provs.each do |p|
      =link_to p.short_name,province_url(p.pinyin),class: ""
%h2 制药企业排名
%table.table
  %tr
    %th 名称
    %th 所在
    %th 注册药品数量

  - @companies.each do |company|
    %tr
      %td= link_to company.short,company
      %td
        = company.province.short_name if company.province.present?
        = company.city.name if company.city.present?
      %td= company.yaopins_count

%br

=link_to "全部制药公司名录",all_companies_url
