-title t('.title'),nil,false
-meta_desc t('.desc')
-keywords t('.keywords')
%h1 什么是国药准字?
%p 
  “国药准字”是药品生产单位在生产新药前，经国家食品药品监督管理局严格审批后，取得的药品生产批准文号，相当于人的身份证。
  %br 
  药品批准文号格式为“国药准（试）字+字母+8位数字”。其中“药”代表是药品，这是最基本性质（与保健食品和医疗器械的区别），“准”字代表国家批准生产的药品，“试”代表国家批准试生产的药品。例如
  %strong 国药准字Z20123054
  ,
  %strong 国药准字H11022498
  %br 
  只有获得此批准文号，药品才可以生产、销售。
