-title "药物成分"
=paginate @chengfens,:theme=>'twitter-bootstrap'
.list
  - @chengfens.each do |chengfen|
    %div
      %strong=link_to chengfen.name,chengfen
      %p= chengfen.metahash.values.join(" / ") rescue nil

