-title @title
-@col2  = true
-#.alert.alert-info
  -#-@groups.each do |g|
    -#=link_to g[0],url_for(:shouzi=>g[0])
    -#%small=g[1]
  -#%br
  -#=link_to "更多",shouzi_chengfens_url
.shouzi.box
  %div
    首字索引
    =link_to "更多",shouzi_chengfens_url
  -@groups.each do |g|
    .i
      =link_to g[0],url_for(:shouzi=>g[0])
      %small=g[1]
  .clearfix
=paginate @chengfens
.links
  - @chengfens.each do |chengfen|
    -#%div
    =link_to chengfen.name,chengfen
    -#%p= chengfen.metahash.values.join(" / ") rescue nil

