-title @post.title
-meta :description,@post.description.gsub(/\s+/,' ').truncate(120)
-meta :canonical,po_url(@post.post_type,@post.id)
-if @post.keywords.present?
  -meta :keywords,@post.keywords

-@hide_ad_2 = true
.entry-meta
  ="来源: #{@post.laiyuan}" if @post.laiyuan.present?
  ="作者: #{@post.author}" if @post.author.present?
  ="关键词: #{@post.keywords}" if @post.keywords.present?
.entry-content  
  -if @post.excerpt.present?
    .excerpt=@post.excerpt 
  -#=textilize(@post.content).gsub(/国药准字[A-Z]\d{8}/,'<a href="/pihao/\0" target="_blank">\0</a>').html_safe
  =autolink_content(textilize(@post.content),@post.related)

.navigation
  -if @next = @post.next
    .next
      下一篇:
      =link_to @next.title,@next.path
  -if @prev = @post.prev
    .prev
      上一篇:
      =link_to @prev.title,@prev.path
-if can? :edit,@post
  =link_to "编辑",edit_post_url(@post)
