-title "常见疾病吃什么药好",nil,false
-#-@col1 = true
-@hide_ad_before = true
.row-fluid
  .span3.sidebar
    .sidelink=ubaidu 1420759,'jx-jibings-sidelink'
  .span9
    %h1.pd=yield :header
    .slotb=ubaidu 1420756,'jx-jibings-before'
    %section
      -cache "home-cjjb",:expires_in=>1.day do 
        .jibings_all
          -@jibings = Jibing.all_with_az
          -@jibings.each do |k,jibings|
            -next if jibings.empty?
            %dl{:class=>cycle('a','b')}
              %dt=k.upcase
              %dd
                -jibings.each do |jibing|
                  = link_to  jibing.name,jibing,:title=>"#{jibing.name}吃什么药",:target=>'_blank'
    .slotb=ubaidu 1420757,'jx-jibings-bottom'
