-title "常见疾病吃什么药好"
-@col1 = true
.linklist.jibing
  - @jibings.each do |jibing|
    .i
      = link_to  jibing.name,jibing,:title=>"#{jibing.name}吃什么药"
      %small= jibing.items_count
  .clearfix

-#%br

-#= link_to 'New Jibin', new_jibing_path
