= link_to t('appname'), '/bdapp', :class => 'brand'
%form.navbar-search.pull-left{:action=>'/bdapp/search',:method=>'get'}
  -a={:id=>'q',:type=>"text",:name=>"q"}
  -a.merge! @q.nil?  ? {:placeholder=>t('search')} : {:value=>@q}
  %input.search-query{a}
