<div class="normal">
  <a href="/pihao/search?q=%E5%9B%BD%E8%8D%AF%E5%87%86%E5%AD%97B">国药准字B</a>
  <a href="/pihao/search?q=%E5%9B%BD%E8%8D%AF%E5%87%86%E5%AD%97H">国药准字H</a>
  <a href="/pihao/search?q=%E5%9B%BD%E8%8D%AF%E5%87%86%E5%AD%97Z">国药准字Z</a>
  <a href="/pihao/search?q=%E5%9B%BD%E8%8D%AF%E8%AF%95%E5%AD%97">国药试字</a>
  <a href="/chengfen">药物成分</a>
  <b>药品首字母</b>
  <a href="/yaopin?abbr=A" title="A开头药品">A</a>
  <a href="/yaopin?abbr=B" title="B开头药品">B</a>
  <a href="/yaopin?abbr=C" title="C开头药品">C</a>
  <a href="/yaopin?abbr=D" title="D开头药品">D</a>
  <a href="/yaopin?abbr=E" title="E开头药品">E</a>
  <a href="/yaopin?abbr=F" title="F开头药品">F</a>
  <a href="/yaopin?abbr=G" title="G开头药品">G</a>
  <a href="/yaopin?abbr=H" title="H开头药品">H</a>
  <a href="/yaopin?abbr=I" title="I开头药品">I</a>
  <a href="/yaopin?abbr=J" title="J开头药品">J</a>
  <a href="/yaopin?abbr=K" title="K开头药品">K</a>
  <a href="/yaopin?abbr=L" title="L开头药品">L</a>
  <a href="/yaopin?abbr=M" title="M开头药品">M</a>
  <a href="/yaopin?abbr=N" title="N开头药品">N</a>
  <a href="/yaopin?abbr=O" title="O开头药品">O</a>
  <a href="/yaopin?abbr=P" title="P开头药品">P</a>
  <a href="/yaopin?abbr=Q" title="Q开头药品">Q</a>
  <a href="/yaopin?abbr=R" title="R开头药品">R</a>
  <a href="/yaopin?abbr=S" title="S开头药品">S</a>
  <a href="/yaopin?abbr=T" title="T开头药品">T</a>
  <a href="/yaopin?abbr=U" title="U开头药品">U</a>
  <a href="/yaopin?abbr=V" title="V开头药品">V</a>
  <a href="/yaopin?abbr=W" title="W开头药品">W</a>
  <a href="/yaopin?abbr=X" title="X开头药品">X</a>
  <a href="/yaopin?abbr=Y" title="Y开头药品">Y</a>
  <a href="/yaopin?abbr=Z" title="Z开头药品">Z</a>
</div>
