  <!--[if lt IE 7]>
  <div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>
    <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img style="width:16px;height:16px;" src='http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>
    <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
      <div style='width: 75px; float: left;'><img style="width:53px; height:73px;" src='http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg' alt='Warning!'/></div>
      <div style='width: 275px; float: left; font-family: Arial, sans-serif;margin-right: 20px;'>
        <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>您正在使用低版本的IE浏览器</div>
        <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>部分页面内容可能显示不正常。建议您升级到更高版本。</div>
      </div>
      <div style='width: 75px; float: left;'><a href='http://windows.microsoft.com/zh-CN/internet-explorer/download-ie' target='_blank'><img style="width:52px;height:73px;" src='http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg' style='border: none;' alt='下载IE8'/></a></div>
      <div style='width:75px;float: left;'><a href='http://www.google.com.hk/chrome' target='_blank'><img  style="width:48px;height:73px;" src='http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg' style='border: none;' alt='下载google浏览器'/></a></div>
      <div style='width: 75px; float: left;'><a href='http://www.firefox.com.cn' target='_blank'><img style="width:49px;height:73px;" src='http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg' style='border: none;' alt='下载火狐浏览器'/></a></div>
    </div>
  </div>
  <![endif]-->
