<div class="indexNav">
  <h2>药品分类</h2>
  <ul>                    
    <li class="">
    <div class="inner"><h3><i></i>肿瘤用药</h3>
      <p>
        <a target="_blank" href="http://www.jxjw.net/jibing/1466">鼻咽癌</a><span class="mr5">|</span>
          <a target="_blank" href="http://www.jxjw.net/jibing/1466">鼻咽癌</a><span class="mr5">|</span>
            <a target="_blank" href="http://www.jxjw.net/jibing/1466">鼻咽癌</a><span class="mr5">|</span>
              </p>
              </div>
              <div class="extend ">
              <p>
                <a target="_blank" href="http://www.jxjw.net/jibing/1466">鼻咽癌</a><span class="mr5">|</span>

                  </p>
                    <div class="ft"><a target="_blank" href="http://www.zyctd.com/ycdh/gj/" class="r">根茎类所有药材&gt;&gt;</a></div>
                    </div>
                      </li>
    <li class="">
    <div class="inner"><h3><i></i>肿瘤用药</h3>
      <p>
        <a target="_blank" href="http://www.jxjw.net/jibing/1466">鼻咽癌</a><span class="mr5">|</span>
          <a target="_blank" href="http://www.jxjw.net/jibing/1466">鼻咽癌</a><span class="mr5">|</span>
            <a target="_blank" href="http://www.jxjw.net/jibing/1466">鼻咽癌</a><span class="mr5">|</span>
              </p>
              </div>
              <div class="extend ">
              <p>
                <a target="_blank" href="http://www.jxjw.net/jibing/1466">鼻咽癌</a><span class="mr5">|</span>

                  </p>
                    <div class="ft"><a target="_blank" href="http://www.zyctd.com/ycdh/gj/" class="r">根茎类所有药材&gt;&gt;</a></div>
                    </div>
                      </li>
                        </ul>  
                          </div>
<script>
$('.indexNav li').on('hover',function(){
  $(this).toggleClass('hover')
})
</script>

