-ls = Link.cached_home
-if ls.present?
  %strong 友情链接
  =link_to "更多...","/links"
  交换链接请联系QQ <a href="http://wpa.qq.com/msgrd?v=3&uin=58265826&site=qq&menu=yes" title="点击这里给我发消息"> 5826-5826</a>
  %br
  -ls.each do |l|
    =link_to l.name,l.url,:target=>"_blank"
