<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
= link_to t('appname'), root_path, :class => 'brand'
%form.navbar-form.pull-left{:action=>'/pihao/search',:method=>'get'}
  -a={:id=>'q',:type=>"text",:name=>"q"}
  -a.merge! @q.nil?  ? {:placeholder=>t('search')} : {:value=>@q}
  %input{a}
-classes = nav_classes
.nav-collapse.collapse
  %ul.nav
    %li{:class=>classes[:jibing]}=link_to "适应症",jibings_url
    %li{:class=>classes[:drugs]}=link_to "药品",drugs_url
    %li{:class=>classes[:chengfens]}=link_to "药物成分",chengfens_url
    %li{class: classes[:yaopins]}=link_to "批号",yaopins_url
-#= render :partial => 'users/menu'
