<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-247543-33']);
  _gaq.push(['_addOrganic', 'm.baidu.com','word']);
  _gaq.push(['_addOrganic', 'baidu.com','word']);
  _gaq.push(['_addOrganic', 'm.sogou.com','keyword']);
  _gaq.push(['_addOrganic', 'wap.sogou.com','query']);
  _gaq.push(['_addOrganic', 'sogou.com','query']);
  _gaq.push(['_addOrganic', 'so.com','q']);
  _gaq.push(['_addOrganic', 'soso.com','w']);
  _gaq.push(['_addOrganic', 'm.yisou.com','q']);
  _gaq.push(['_trackPageview']);
  (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
 </script>
 <script language="javascript" type="text/javascript" src="http://js.users.51.la/16526878.js"></script>
 <noscript><a href="http://www.51.la/?16526878" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/16526878.asp" style="border:none" /></a></noscript>
 <script type="text/javascript">
   var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
   document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8fdabe8341e9c84cc344d50b2e216c22' type='text/javascript'%3E%3C/script%3E"));
 </script>
